<header>
  <div class="container header-container">
    <a href="/src/index.html" class="header-logo">yachtjet</a>
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="#section-about" class="nav-list-link">About</a>
        </li>
        <li class="nav-list-item">
          <a href="#section-yachts" class="nav-list-link">Yachts</a>
        </li>
        <li class="nav-list-item">
          <a href="#section-reviews" class="nav-list-link">Reviews</a>
        </li>
      </ul>
    </nav>
    <ul class="s-m-list">
      <li class="s-m-list-item">
        <a href="" class="s-m-list-link">
          <svg class="s-m-icon-header" width="19" height="19">
            <use href="/src/img/header-img/header-img.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="s-m-list-item">
        <a href="" class="s-m-list-link">
          <svg class="s-m-icon-header" width="20" height="20">
            <use href="/src/img/header-img/header-img.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="s-m-list-item">
        <a href="" class="s-m-list-link">
          <svg class="s-m-icon-header" width="20" height="20">
            <use href="/src/img/header-img/header-img.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button type="button" class="header-menu-btn">
      <svg class="header-btn" width="24" height="10">
        <use href="/src/img/header-img/header-img.svg#icon-header-menu"></use>
      </svg>
    </button>
  </div>
</header>
